* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    width: 220px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s all;
    outline: none;

    &_white {
        background-color: #fff;
    }

    &_dark {
        background-color: $dark;
        color: #fff;
        border: none;
    }

    &_min {
        height: 50px;
    }

    &:hover {
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.divider {
    width: 330px;
    height: 1px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    ;
}

.title {
    font-size: 36px;
    font-weight: 400;
}

.show {
    display: block;
}

.hide {
    display: none;
}